@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@font-face {
  font-family: 'DSEG14Modern-Bold';
  src:  url('/assets/fonts/DSEG14-Modern/DSEG14Modern-Bold.woff2') format('woff2'),
        url('/assets/fonts/DSEG14-Modern/DSEG14Modern-Bold.woff') format('woff'),
        url('/assets/fonts/DSEG14-Modern/DSEG14Modern-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'DSEG14ModernMini-BoldItalic';
  src:  url('/assets/fonts/DSEG14-Modern-MINI/DSEG14ModernMini-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/DSEG14-Modern-MINI/DSEG14ModernMini-BoldItalic.woff') format('woff'),
        url('/assets/fonts/DSEG14-Modern-MINI/DSEG14ModernMini-BoldItalic.ttf') format('truetype');
}

*,
*:after,
*:before {
	margin: 0;
	box-sizing: border-box;
}

body {
	background:  linear-gradient(to bottom right, #38efbb, #11998e);
	height: 100vh;
	width: 100vw;
	font-size: 1rem;
	display: grid;
	place-items: center;
}

.calculator-body {
	box-shadow: 
		15px 15px 30px black,
		inset 5px 5px 5px rgba(220,220,255,0.2),
		inset -5px -5px 5px rgba(0,0,0,0.6);
		border-width: 1px;
	border-color:
		rgba(255, 255, 255, 0.6)
		rgba(0, 0, 0, 1)
		rgba(0, 0, 0, 1)
		rgba(255, 255, 255, 0.6);
	height: 600px;
	width: 500px;
	display: grid;
	grid-template-rows: 1fr 3fr 10fr;
	grid-row-gap: 20px;
	padding: 25px;
	border-radius: 20px;
	background-color: hsl(200, 10%, 10%);
}

.solar {
	display: flex;
	justify-content: space-between;
}

.panel {
	width: 200px;
	background: linear-gradient(
		to right,
		rgba(70, 30, 0, 1.0) 0% 32%,
		rgba(40, 10, 0, 1.0) 0% 33%,
		rgba(70, 30, 0, 1.0) 0% 64%,
		rgba(40, 10, 0, 1.0) 0% 65%,
		rgba(70, 30, 0, 1.0) 0% 100%);
	border-radius: 10px;
	box-shadow:
		inset 3px 3px 3px rgba(0, 0, 0, 0.3),
		inset -3px -3px 3px rgba(255, 255, 255, 0),
		3px 3px 3px 1px rgba(255, 255, 255, 0.05),
		-3px -3px 3px 1px rgba(0, 0, 0, 0.3);
}

.name {
	font-family: 'Righteous', cursive;
	color: rgba(255, 255, 255, 0.6);
	font-size: 30px;
}

.display {
	display: grid;
	grid-template-rows: 1fr 2fr;
	background-color: rgba(100, 170, 100, 1.0);
	border-radius: 10px;
	box-shadow:
		inset 3px 3px 3px rgba(0, 0, 0, 0.3),
		inset -3px -3px 3px rgba(255, 255, 255, 0.04),
		3px 3px 3px 3px rgba(255, 255, 255, 0.1),
		-3px -3px 3px 3px rgba(0, 0, 0, 0.4);
}

.prevous-input-display {
	display: flex;
	align-items: center;
	margin-inline: 5px;
	justify-content: flex-end;
	padding-top: 8px;
	font-size: 1em;
	font-family: 'DSEG14ModernMini-BoldItalic', Fallback, sans-serif;
}

.current-input-display {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-inline: 10px;
	font-family: 'DSEG14Modern-Bold', Fallback, sans-serif;
	font-size: 2em;
	width: auto;
	word-wrap: break-word;
}

.button-box {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 3fr 2fr;
	gap: 10px;
}

.number-pad {
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.operation-box {
	display: grid;
	grid-auto-columns: 1fr 1fr;
	grid-auto-flow: column;
	gap: 10px;
}

.primary-operations,
.secondary-operations {
	display: grid;
	gap: 10px;
}

button {
	font-family: 'Albert Sans', sans-serif;
	font-size: 1.8em;
	background-color: whitesmoke;
	background-image: linear-gradient(to bottom right, #a0a8af, #ffffff);
	border-radius: 10px;
	border-width: 1px;
	border-color:
		rgba(255, 255, 255, 1)
		rgba(0, 0, 0, 0.4)
		rgba(0, 0, 0, 0.4)
		rgba(255, 255, 255, 1);
	box-shadow:
		-2px -2px 5px -3px rgba(255, 255, 255, 0.2),
		5px 5px 5px 2px rgba(0, 0, 0, 0.6);
	transition: 100ms;
	cursor: pointer;
}

button:active {
	transform: scale(0.96);
	box-shadow:	2px 3px 5px rgba(0, 0, 0, 0.6);
}

button[name="clear"] {
	font-size: 1.4em;
	background-color: hsl(29, 100%, 60%);
	background-image: linear-gradient(to bottom right, hsl(30, 70%, 45%), hsl(30, 100%, 70%));
	border-color:
		rgba(255, 255, 255, 0.2)
		rgba(0, 0, 0, 0.5)
		rgba(0, 0, 0, 0.5)
		rgba(255, 255, 255, 0.2);
}

button[name="equals"] {
	background-image: linear-gradient(to bottom right, hsl(152, 40%, 40%), hsl(142, 70%, 70%));
	border-color:
		rgba(255, 255, 255, 0.2)
		rgba(0, 0, 0, 0.5)
		rgba(0, 0, 0, 0.5)
		rgba(255, 255, 255, 0.2);
}

button[name="back"], button[name="."] {
	/* font-size: 1.2em; */
	background-image: linear-gradient(to bottom right, hsl(0, 0%, 10%), hsl(0, 0%, 20%));
	border-color:
		rgba(255, 255, 255, 0.2)
		rgba(0, 0, 0, 0.5)
		rgba(0, 0, 0, 0.5)
		rgba(255, 255, 255, 0.2);
	color: #ffffffc0;
}

button[data-operation] {
	color: whitesmoke;
	background-image: linear-gradient(to bottom right, hsl(200, 40%, 40%), hsl(200, 60%, 60%));
	border-color:
		rgba(255, 255, 255, 0.1)
		rgba(0, 1, 0, 0.6)
		rgba(0, 1, 0, 0.6)
		rgba(255, 255, 255, 0.1);
}

@media (max-width: 500px) {
	body {
		font-size: 0.8rem;
	}
	.calculator-body {
		height: 500px;
		width: 400px;
	}
}

@media (max-width: 398px) {
	body {
		font-size: 0.7rem;
	}
	.calculator-body {
		height: 460px;
		width: 340px;
	}
}
